.header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.link, .download {
  width: 42px;
  height: 42px;
  font-size: 42px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: aliceblue;
  }
}
