.header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 8px 8px -8px;
  transition: box-shadow 300ms ease-in-out 0s;
  z-index: 10;
}

.container {
  height: 64px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
}

.avatar {
  border-radius: 50%;
}

.searchContainer {
  width: 850px;
}

.empty {
  width: 286px;
}
